
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pose Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div class="container">
        <h1>Live Pose Detection</h1>
        <div class="video-wrapper">
            <img src="{{ url_for('video_feed') }}" id="video-stream" />
        </div>
    </div>
    <div id="countdown" class="overlay" style="display: none;">3</div>
    <div id="loading" class="overlay" style="display: none;">
      <div class="spinner"></div>
    </div>

</body>
</html>

