<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pose Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Live Pose Detection</h1>
    <img src="{{ url_for('video_feed') }}" id="video-stream" />
    
    <div id = "stats">
      <p>FPS: <span id="fps">--</span></p>
      <p>Model: <span id="model">--</span></p>
      <p>numPoses: <span id="numPoses">--</span></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>

